table th { color : #000000 ; }
table td { font-size: 13px ; text-align: center; }

table th .name { text-align: left ;  }

h4{ padding-bottom: 15px; }



#info_partner{ font-size:14px; Line-Height: 10px; }

table.ca_partner {
    font-family: verdana,arial,sans-serif;
    font-size:10px;
    border-collapse: collapse;
}
.full_grid{
    font-size:11px;
    border-width: 2px;
    padding: 5px;
    border-style: solid;
    border-color: #E6E6E6;
}
.ca_partner td {
    font-size:10px;
    border-width: 2px;
    padding: 8px;
    border-style: solid;
    border-color: #E6E6E6;
}

.titre {
    background-color: #EEEEEE  ;
    font-weight:bold;
}

.empty_grid{
    border-top: none ;
    border-left: none ;
    background-color: #ffffff;
}

.partner_in {
    font-family: verdana,arial,sans-serif;
    font-size:10px;
    border-collapse: collapse;
    position: relative;
    left: 400px ;
    bottom: 60px ;


}

.partner_in td {
    border-style: solid;
    border-color: #E6E6E6;
    border-width: 2px;
}

/*
table.ca_partner th .full {
    font-size:10px;
    border-width: 2px;
    padding: 5px;
    border-style: solid;
    border-color: #E6E6E6;
}
table.ca_partner td {
    font-size:10px;
    border-width: 2px;
    padding: 8px;
    border-style: solid;
    border-color: #E6E6E6;
}
*/